* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
list-style: none;
font-size: 16px;
margin-top: 25px;

}

/* NAVBAR STYLING STARTS */

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: rgb(105, 113, 236);
  color: #fff;
  width: 1349px;

}

.nav-links a {
  color: #fff;
}

/* LOGO */

.logo {
  font-size: 32px;
}

/* NAVBAR MENU */

.menu {
  display: flex;
  gap: 1em;
  font-size: 18px;
}

.menu li {
  padding: 5px 5px;
}

div.section-title {
  display: flex;
  min-width: 1349px;
  min-height: 600px;
  background-image: url(https://images.unsplash.com/photo-1495344517868-8ebaf0a2044a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjE1fHxwZW9wbGV8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60);
  text-align: center;
  font-style: normal;
  background-position: center;
  padding-top: 300px;

}

#intro {
  color: white;
}

#disp {
  color: aqua;
}


.white-frame {
  width: 1300px;
  height: 350px;
  border-top: 10px;
  border-right: 10px;
  border-bottom: 10px;
  margin: 50px 25px 50px 25px;


  border-bottom: 8px solid rgb(123, 193, 226);
  border-right: 8px solid rgb(123, 193, 226);
  border-top: 8px solid rgb(123, 193, 226);
  display: flex;
  justify-content: center;
  
}

h3 {
  color: white;
  background-color: rgb(88, 98, 238);
  text-align: center;
  padding: 70px;
  font-size: x-large;
}


div.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: rgb(88, 98, 238);
  
  
}

img {
  margin: 20px;
  width: 300px;
  height: 250px;
}

div.container-fluid {
  display: flex;
  border: 5px;
  padding: 50px;
  justify-content: center;
  background-color: rgb(233, 250, 244);
  
}

#About, h2 {
  background-color: white;
  text-align: center;
  padding-top: 100px;
  position: relative;
  
}